/* Existing styles remain unchanged */
.formbody {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 420px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(249, 242, 242, 0.18);
}

.formbodytitle {
  transition: .5s ease-in-out;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

.formlogin-button {
  width: 70%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #bb47fd;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.formlogin-button:hover {
  background-color: #6d44b8;
}

.formlogin-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #bb47fd;
}

.inputemail,
.inputpassword {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  padding: 10px 10px 10px 40px;
  position: relative;
  color: #fff; 
}

.floating-label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 10px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 5px;
  color: #999;
  transition: all 0.3s ease;
}

.inputemail:focus + .floating-label,
.inputemail:valid + .floating-label,
.inputpassword:focus + .floating-label,
.inputpassword:valid + .floating-label {
  font-size: 10px;
  top: -10px;
  padding: 0 5px;
}

.inputemail:focus + .floating-label,
.inputpassword:focus + .floating-label {
  color: #999;
}

.inputemail:focus,
.inputpassword:focus {
  border: 1px solid #bb47fd;
  outline: 2px solid #bb47fd;
}

.inputemail.error,
.inputpassword.error {
  border-color: #ef4444;
}

.inputemail.error + .error-message,
.inputpassword.error + .error-message {
  color: #ef4444;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

#chk {
  display: none;
}

#chk:checked ~ .formbodytitle {
  transform: scale(.6);
  margin: 5% 0 5%;
}

.toggle-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  background-color: #573b8a;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: #6d44b8;
}

.loginbackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  background-size: contain;
  background-position: center;
  background-image: url('./login_img.jpg');
}

.loginlastline {
  color: #ffffff;
}
