.container {
    position: relative;
    top: 3px;
    box-sizing: border-box;
    width: fit-content;
    margin-right: 20px;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border: 1px solid rgb(255, 20, 20);
}

.mainbox.open {
    width: 50px;
    bottom: 2px;
}

.mainbox.open .search_input {
    width: 0;
    height: 0px;
    padding-left: 0; /* Reset padding */
}

.icon-container {
    position: absolute;
    right: 6px; /* Increased right padding */
    top: 12px; /* Adjusted top padding */
    z-index: 9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-container.open {
    padding-right: 8px;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px; /* Increased left padding */
    font-size: 1em;
    color: white;
    transition: width 0.5s ease; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
    visibility: visible; /* Ensure placeholder is visible */
}

.search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .container {
        margin-right: 0;
        margin-left: auto;
    }

    .mainbox {
        width: 230px; /* Set the initial width */
    }

    .mainbox.open {
        width: 50px; /* Set the width when open */
    }

    .search_input {
        width: calc(100% - 5px); /* Adjust the width based on the mainbox size */
        padding-left: 10px; /* Reset the left padding */
    }
}